<form action="/users/addUser" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="email" placeholder="user Name">
    <input type="password" name="password" >
    <input type="submit" value="Registrarse">

</form>
<% if (locals.errors) { %>
    <p style="color:red"> <%= errors.message %></p>
<% } %>