<form action="/users/login" method="post">
    <input type="text" name="email" placeholder="Email">
    <input type="password" name="password" >
    <label for="rememberme">Recordarme</label>
    <input type="checkbox" name="rememberme" id="rememberme">
    <input type="submit" value="Ingresar">
</form>